<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddProductCategory</servlet-name>
        <servlet-class>ProductCategory.Controller.AddProductCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductCategory</servlet-name>
        <servlet-class>ProductCategory.Controller.UpdateProductCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductCategory</servlet-name>
        <servlet-class>ProductCategory.Controller.DeleteProductCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveProductCategoryUpdate</servlet-name>
        <servlet-class>ProductCategory.Controller.RetrieveProductCategoryUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveProductCategory</servlet-name>
        <servlet-class>ProductCategory.Controller.RetrieveProductCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>Product.Controller.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveProductDetails</servlet-name>
        <servlet-class>Product.Controller.RetrieveProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveProductUpdate</servlet-name>
        <servlet-class>Product.Controller.RetrieveProductUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>Product.Controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Product.Controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createImage</servlet-name>
        <servlet-class>Image.controller.createImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveImage</servlet-name>
        <servlet-class>Image.controller.RetrieveImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAdmin</servlet-name>
        <servlet-class>Admin.Controller.RegisterAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveAdminDetails</servlet-name>
        <servlet-class>Admin.Controller.RetrieveAdminDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveAdminUpdate</servlet-name>
        <servlet-class>Admin.Controller.RetrieveAdminUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdate</servlet-name>
        <servlet-class>Admin.Controller.AdminUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDelete</servlet-name>
        <servlet-class>Admin.Controller.AdminDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveStaffDetails</servlet-name>
        <servlet-class>Staff.Controller.RetrieveStaffDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaff</servlet-name>
        <servlet-class>Staff.Controller.RegisterStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveStaffUpdate</servlet-name>
        <servlet-class>Staff.Controller.RetrieveStaffUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdate</servlet-name>
        <servlet-class>Staff.Controller.StaffUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDelete</servlet-name>
        <servlet-class>Staff.Controller.StaffDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Login.Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategorySelected</servlet-name>
        <servlet-class>BuyController.CategorySelected</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveCustomerDetails</servlet-name>
        <servlet-class>Customer.Controller.RetrieveCustomerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDelete</servlet-name>
        <servlet-class>Customer.Controller.CustomerDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCustomer</servlet-name>
        <servlet-class>Customer.Controller.RegisterCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomer</servlet-name>
        <servlet-class>Customer.Controller.LoginCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>BuyController.ProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>BuyController.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>BuyController.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>BuyController.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>BuyController.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDone</servlet-name>
        <servlet-class>BuyController.PaymentDone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>BuyController.OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCancel</servlet-name>
        <servlet-class>BuyController.OrderCancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackSave</servlet-name>
        <servlet-class>BuyController.FeedbackSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetialMaintain</servlet-name>
        <servlet-class>OrderMaintain.OrderDetialMaintain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderMaintainDetailsUpdate</servlet-name>
        <servlet-class>OrderMaintain.OrderMaintainDetailsUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>OrderMaintain.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetail</servlet-name>
        <servlet-class>FeedbackMaintain.FeedbackDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetailUpdate</servlet-name>
        <servlet-class>FeedbackMaintain.FeedbackDetailUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedback</servlet-name>
        <servlet-class>FeedbackMaintain.UpdateFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDelete</servlet-name>
        <servlet-class>FeedbackMaintain.FeedbackDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>SearchController.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaffServelt</servlet-name>
        <servlet-class>Staff.controller.RegisterStaffServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDetails</servlet-name>
        <servlet-class>Staff.controller.StaffDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTest</servlet-name>
        <servlet-class>test.CreateTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeatilUpdate</servlet-name>
        <servlet-class>Staff.controller.StaffDeatilUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateServlet</servlet-name>
        <servlet-class>Staff.controller.StaffUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>Staff.controller.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportGetSelect</servlet-name>
        <servlet-class>report.ReportGetSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Login.Controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutCustomer</servlet-name>
        <servlet-class>Customer.Controller.LogOutCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductCategory</servlet-name>
        <url-pattern>/AddProductCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductCategory</servlet-name>
        <url-pattern>/UpdateProductCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductCategory</servlet-name>
        <url-pattern>/DeleteProductCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveProductCategoryUpdate</servlet-name>
        <url-pattern>/RetrieveProductCategoryUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveProductCategory</servlet-name>
        <url-pattern>/RetrieveProductCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/CreateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveProductDetails</servlet-name>
        <url-pattern>/RetrieveProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveProductUpdate</servlet-name>
        <url-pattern>/RetrieveProductUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createImage</servlet-name>
        <url-pattern>/createImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveImage</servlet-name>
        <url-pattern>/RetrieveImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAdmin</servlet-name>
        <url-pattern>/RegisterAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveAdminDetails</servlet-name>
        <url-pattern>/RetrieveAdminDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveAdminUpdate</servlet-name>
        <url-pattern>/RetrieveAdminUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdate</servlet-name>
        <url-pattern>/AdminUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDelete</servlet-name>
        <url-pattern>/AdminDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveStaffDetails</servlet-name>
        <url-pattern>/RetrieveStaffDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaff</servlet-name>
        <url-pattern>/RegisterStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveStaffUpdate</servlet-name>
        <url-pattern>/RetrieveStaffUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdate</servlet-name>
        <url-pattern>/StaffUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDelete</servlet-name>
        <url-pattern>/StaffDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorySelected</servlet-name>
        <url-pattern>/CategorySelected</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveCustomerDetails</servlet-name>
        <url-pattern>/RetrieveCustomerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDelete</servlet-name>
        <url-pattern>/CustomerDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCustomer</servlet-name>
        <url-pattern>/RegisterCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomer</servlet-name>
        <url-pattern>/LoginCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/ProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDone</servlet-name>
        <url-pattern>/PaymentDone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/OrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCancel</servlet-name>
        <url-pattern>/OrderCancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackSave</servlet-name>
        <url-pattern>/FeedbackSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetialMaintain</servlet-name>
        <url-pattern>/OrderDetialMaintain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderMaintainDetailsUpdate</servlet-name>
        <url-pattern>/OrderMaintainDetailsUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetail</servlet-name>
        <url-pattern>/FeedbackDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetailUpdate</servlet-name>
        <url-pattern>/FeedbackDetailUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedback</servlet-name>
        <url-pattern>/UpdateFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDelete</servlet-name>
        <url-pattern>/FeedbackDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaffServelt</servlet-name>
        <url-pattern>/RegisterStaffServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDetails</servlet-name>
        <url-pattern>/StaffDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTest</servlet-name>
        <url-pattern>/CreateTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeatilUpdate</servlet-name>
        <url-pattern>/StaffDeatilUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateServlet</servlet-name>
        <url-pattern>/StaffUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/DeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportGetSelect</servlet-name>
        <url-pattern>/ReportGetSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutCustomer</servlet-name>
        <url-pattern>/LogOutCustomer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>StaffAuth</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/Maintain/Staff/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ProductAuth</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/Maintain/Product/UpdateProduct.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ProductCategoryAuth</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/Maintain/ProductCategory/UpdateProductCategory.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>CustomerAuth</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/Maintain/Customer/CustomerDetails.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>SalesRecordAuth</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/Maintain/SalesRecord/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ReportAuth</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/Maintain/Report/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/Maintain/Main/adminLogin.jsp</form-login-page>
            <form-error-page>/Maintain/Main/AdminLoginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Admin To access page</description>
        <role-name>AdminRole</role-name>
    </security-role>
</web-app>
